.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 25px;
  }
  
  
  
  
  .center {
    align-items: center;
  }
  .bttn {
    align-items: center;
  }
  .cart {
    display: flex;
    align-items: center;
    color:rgb(115, 79, 148);
    
  }
  .cart button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    }
    
    .cart button a {
    color: #a49e9e;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 5px;
    background-color: #007bff;
    }
    
    .cart button a:hover {
    background-color: #0069d9;
    }
    .title >h1 {
      font-size: 60px;
      background-color: rgb(101, 95, 95);
      padding-top: 30px;
      padding-bottom: 20px;
    
      color: white;
    }
    .cart-trolly--link {
      position: relative;
    }
    .cart-trolley {
      position: relative;
      font-size: 3.2rem;

    }
    .cart-total--item {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      display: grid;
      top: -20%;
      left: 70%;
    }


 
  








